# Dependencies
node_modules

# Next.js build output
.next
out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env files
.env
.env.*

# Git
.git
.gitignore

# Editor/OS
.vscode
.idea
.DS_Store

# Docker
Dockerfile
.dockerignore

docker-compose.yml

# Misc
coverage
**/*.swp
